body {
	text-align: center;
	font-family: 'Lora', serif;
	font-weight: 600;
	background-image: url(imagens/fundo.jpg);
	background-size: cover;
	color:#4b6584;
}

h1{
	font-family:'Roboto', sans-serif;
	font-size: 80px;
	text-shadow: 2px 2px 2px #a9a9a9;
	letter-spacing: 3px;
	font-weight: 900;
	padding-top: 300px;
	margin-bottom: 20px;
}

p{
	font-size: 25px;
	letter-spacing: 5px;
	text-shadow: 2px 2px 2px #a9a9a9;
}

.intro {
	margin-bottom: 50px;
}

.botao{
	text-decoration: none;
	background-color:#d1d8e0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #4b6584;
	font-size: 15px;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
}

.botao:hover { 
	background-color: #ffffff;
	
}

.lista {
	list-style: none;
	padding-left: 0;
	margin-top: 150px;
}

.lista li{
	display:inline;
	}

.lista a {
	color: white;
	font-size: 25px;
}
